@model TheWallViewModel
@{
    int? UserId = Context.Session.GetInt32("UserId");
}
<div class="container my-3">
    @foreach (Message msg in Model.newListMsg)
    {
        <div class="row">
            <h3>@msg.Creador.FirstName @msg.Creador.LastName - @msg.CreatedAt.ToString("MMM dd,yyyy") <span>
                    @if (msg.UserId == UserId)
                    {
                        <a class="text-danger no-link" asp-action="DeleteMessage" asp-controller="Home" method="Post"
                            asp-route-MesId="@msg.MessageId">
                            <small>
                                Eliminar
                            </small>
                        </a>
                    }
                </span>
            </h3>
        </div>
        <div class="row">
            <p class="h-6">@msg.MessageText</p>
        </div>
        @await Html.PartialAsync("Partials/_CargarComment", Model.newListComm)
        @await Html.PartialAsync("Partials/_PostComment", Model.newComment)
    }

</div>
